*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root{
  --color-bg:#fff;
  --color-bg-variant:#004aad;
  --color-primary-variant:rgba(77,181,255,0.4);
  --color-light:rgba(255,255,255,0.6);
  --color-black:#000;
  --transition:all 400ms ease;
  --container-width-lg:75%;
  --container-width-md:86%;
  --container-width-sm:90%;
}
html{
  scroll-behavior:smooth;
  -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar{
  display:none;
 }
 body{
  font-family:"Poppins",sans-serif;
  background:var(--color-bg);
  color:var(--color-black);
  line-height:1.7;
 }